<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todaysTable.boardMapper">
	
	<select id="selectAllNoticeBoard" parameterType="" resultType="">
		SELECT NOTICE_NO, TITLE, CONTENT, TO_CHAR(REG_DATE,'YYYY-MM-DD HH24:MI:SS')REG_DATE, ADMIN_ID
		FROM NOTICE;
	</select>
	
</mapper>