<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailMapper">

<!-- 가게 정보 받아오기 -->
<select id="selectStoreInfo" parameterType="java.lang.Integer" resultType="com.todaysTable.vo.StoreVO">
	SELECT * FROM STORE
	WHERE STORE_NO = #{VALUE}
</select>

<!-- 가게 평균 평점 가져오기 -->
<select id="getAvgGrade" parameterType="java.lang.Integer" resultType="java.lang.Double">
	SELECT AVG_GRADE FROM STORE_MORE_INFO
	WHERE STORE_NO = #{VALUE}
</select>

<!-- 주차가능여부 가져오기 -->
<select id="getCanPark" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT CAN_PARK FROM STORE_OPTION
	WHERE STORE_NO = #{VALUE}
</select>

<!-- 메뉴 리스트 가져오기 -->
<select id="selectMenuList" parameterType="java.lang.Integer" resultType="com.todaysTable.vo.MenuVO">
	SELECT * FROM MENU
	WHERE STORE_NO = #{VALUE}
</select>

<!-- id로 닉네임 가져오기 -->
<select id="getNickname" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT NICKNAME FROM MEMBER
	WHERE ID = #{VALUE}
</select>

<!-- 회원 no로 닉네임 가져오기 -->
<select id="getNicknameFromNo" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT NICKNAME FROM MEMBER
	WHERE MEMB_NO = #{VALUE}
</select>

<!-- id로 회원 no 가져오기 -->
<select id="getMemberNo" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT MEMB_NO FROM MEMBER
	WHERE ID=#{VALUE}
</select>

<!-- 새로운 리뷰 번호 생성 -->
<select id="getNewReviewNo" resultType="java.lang.Integer">
	SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
</select>

<!-- 리뷰 등록 날짜 가져오기 -->
<select id="getRegDate" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT TO_CHAR(REG_DATE, 'YYYY/MM/DD HH24:MI') REG_DATE
	FROM REVIEW
	WHERE REVIEW_NO = #{VALUE}
</select>

<!-- 리뷰 리스트 가져오기 -->
<!-- <select id="selectReviewList" parameterType="java.lang.Integer" resultType="com.todaysTable.vo.ReviewVO">
	SELECT REVIEW_NO, MEMB_NO, STORE_NO, CONTENT, TASTE_GRADE, SERVICE_GRADE,
	 		MOOD_GRADE, LIKES, HITS, TO_CHAR(REG_DATE, 'YYYY/MM/DD HH24:MI') REG_DATE
	FROM REVIEW
	WHERE STORE_NO = #{VALUE}
	ORDER BY REVIEW_NO
</select> -->

<!-- 리뷰 이미지 리스트 가져오기 -->
<select id="selectReviewImageList" parameterType="java.lang.Integer" resultType="com.todaysTable.vo.ReviewImageVO">
	SELECT IMAGE_NO, REVIEW_NO, IMAGE_PATH
	FROM REVIEW_IMAGE
	WHERE REVIEW_NO = #{VALUE}
	ORDER BY IMAGE_NO
</select>

<!-- 총 리뷰 갯수 출력 -->
<select id="countReview" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM REVIEW
</select>

<!-- 페이징 처리 후 리뷰 조회 -->
<select id="selectReview" parameterType="java.util.HashMap" resultType="com.todaysTable.vo.ReviewVO">
	SELECT * 
		FROM (
			SELECT ROWNUM RN, A.*
				FROM (
						SELECT REVIEW_NO, MEMB_NO, STORE_NO, CONTENT, TASTE_GRADE, SERVICE_GRADE,
	 					MOOD_GRADE, LIKES, HITS, TO_CHAR(REG_DATE, 'YYYY/MM/DD HH24:MI') REG_DATE
						FROM REVIEW
						WHERE STORE_NO = #{store_no}
						ORDER BY REVIEW_NO DESC
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
</select>

<!-- 리뷰 정보 삽입 -->
<insert id="insertReview" parameterType="com.todaysTable.vo.ReviewVO">
	INSERT INTO REVIEW(REVIEW_NO, MEMB_NO, STORE_NO, CONTENT, TASTE_GRADE, SERVICE_GRADE, MOOD_GRADE, LIKES, HITS, REG_DATE)
	VALUES(#{review_no}, #{memb_no}, #{store_no}, #{content}, #{taste_grade}, #{service_grade}, #{mood_grade}, 0, 0, SYSDATE)
</insert>

<!-- 리뷰 이미지 삽입 -->
<insert id="insertReviewImage" parameterType="com.todaysTable.vo.ReviewImageVO">
	INSERT INTO REVIEW_IMAGE(IMAGE_NO, REVIEW_NO, IMAGE_PATH)
	VALUES(REVIEW_IMAGE_SEQ.NEXTVAL, #{review_no}, #{image_path})
</insert>



<!-- 찜하기 (유주) -->

<!-- 찜하기 -->
<insert id="insertLikeInfo" parameterType="com.todaysTable.vo.DibsVO">
	INSERT INTO DIBS(MEMB_NO, STORE_NO,STORE_NAME, ADDRESS,AVG_GRADE)
	VALUES(#{memb_no}, #{store_no}, #{store_name}, #{address}, #{avg_grade})
</insert>

<!-- 찜취소 -->
<delete id="deleteLikeInfo" parameterType="com.todaysTable.vo.DibsVO">
   DELETE FROM DIBS WHERE STORE_NO= #{store_no} AND MEMB_NO=#{memb_no}
</delete>

<!-- 찜하기 체크 -->
<select id="checkLike" parameterType="com.todaysTable.vo.DibsVO" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM DIBS
	WHERE STORE_NO=#{store_no} AND MEMB_NO=#{memb_no} 
</select>

</mapper>