<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loginMapper">

<!-- 로그인 -->

<select id="adminCk" parameterType="com.todaysTable.vo.AdminVO" resultType="java.lang.String">
   SELECT ADMIN_PASSWORD FROM ADMIN
   WHERE ADMIN_ID=#{VALUE}
 </select>
 
 <select id="loginCk" parameterType="com.todaysTable.vo.MemberVO" resultType="java.lang.String">
   SELECT PASSWORD FROM MEMBER
   WHERE ID=#{VALUE}
 </select>


</mapper>