<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeMapper">

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'loc'.toString()">AND LOCATION LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'name'.toString()">AND NAME LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

	 <!-- STORE 테이블 쿼리 -->
	<select id="listPage" resultType="com.todaysTable.vo.StoreVO"
		parameterType="com.todaysTable.vo.SearchCriteriaVO">
		SELECT STORE_NO, NAME, CATEGORY, TEL, LOCATION, ADDRESS, BREAK_TIME, BUSINESS_HOURS
		FROM (
		SELECT STORE_NO, NAME, CATEGORY, TEL, LOCATION, ADDRESS, BREAK_TIME, BUSINESS_HOURS,
		ROW_NUMBER() OVER(ORDER	BY STORE_NO	DESC) AS RNUM
		FROM STORE
		WHERE 1=1
		<include refid="search"></include>
		) WHERE RNUM BETWEEN #{rowStart}
		AND #{rowEnd}
		ORDER BY STORE_NO DESC
	</select>

	<!-- 리스트 출력을 위한 총 데이터 갯수 -->
	<select id="listCount" resultType="int"
		parameterType="com.todaysTable.vo.CriteriaVO">
		SELECT COUNT(STORE_NO)
		FROM STORE
		WHERE 1=1
		<include refid="search"></include>
		AND STORE_NO > 0
	</select>

	<!-- 신규 매장 등록 기본정보 INSERT -->
	<insert id="insertStoreInfo" parameterType="com.todaysTable.vo.StoreVO">
		INSERT INTO
		STORE(STORE_NO, NAME, TEL, BUSINESS_HOURS, LOCATION, ADDRESS, DAY_OFF, BREAK_TIME,
		CATEGORY, LAST_UPDATE_DATE, LATITUDE, LONGITUDE, ADMIN_ID)
		VALUES(STORE_SEQ.NEXTVAL ,#{name}, #{tel}, #{business_hours}, #{location}, #{address},
		#{day_off}, #{break_time}, #{category}, SYSDATE, #{latitude}, #{longitude}, 'ADMIN')
	</insert>

	<!-- 매장별 메뉴/가격 INSERT -->
	<insert id="insertStoreMenu" parameterType="java.util.HashMap">
			INSERT INTO MENU(MENU_NO, STORE_NO, MENU_NAME, PRICE)
			VALUES(MENU_SEQ.NEXTVAL,STORE_SEQ.CURRVAL,#{menu_name},#{price})
	</insert>
	
  	<!-- 편의사항 UPDATE -->
	<update id="updateStoreOption" parameterType="com.todaysTable.vo.StoreOptionVO">
		UPDATE STORE_OPTION
		SET
		<choose><when test="can_park != null">can_park='Y'</when><otherwise>can_park='N'</otherwise></choose>,
		<choose><when test="can_reserve != null">can_reserve='Y'</when><otherwise>can_reserve='N'</otherwise></choose>,
		<choose><when test="can_takeout != null">can_takeout='Y'</when><otherwise>can_takeout='N'</otherwise></choose>,
		<choose><when test="free_wifi != null">free_wifi='Y'</when><otherwise>free_wifi='N'</otherwise></choose>,
		<choose><when test="kids_zone != null">kids_zone='Y'</when><otherwise>kids_zone='N'</otherwise></choose>,
		<choose><when test="no_kids_zone != null">no_kids_zone='Y'</when><otherwise>no_kids_zone='N'</otherwise></choose>,
		<choose><when test="kid_menu != null">kid_menu='Y'</when><otherwise>kid_menu='N'</otherwise></choose>,
		<choose><when test="corkage_free != null">corkage_free='Y'</when><otherwise>corkage_free='N'</otherwise></choose>,
		<choose><when test="vegetarian != null">vegetarian='Y'</when><otherwise>vegetarian='N'</otherwise></choose>,
		<choose><when test="gluten_free != null">gluten_free='Y'</when><otherwise>gluten_free='N'</otherwise></choose>,
		<choose><when test="highchair != null">highchair='Y'</when><otherwise>highchair='N'</otherwise></choose>,
		<choose><when test="can_go_with_pet != null">can_go_with_pet='Y'</when><otherwise>can_go_with_pet='N'</otherwise></choose>,
		<choose><when test="can_deliver != null">can_deliver='Y'</when><otherwise>can_deliver='N'</otherwise></choose>,
		<choose><when test="outside_seat != null">outside_seat='Y'</when><otherwise>outside_seat='N'</otherwise></choose>,
		<choose><when test="can_lunch_menu != null">can_lunch_menu='Y'</when><otherwise>can_lunch_menu='N'</otherwise></choose>,
		<choose><when test="can_breakfast_menu != null">can_breakfast_menu='Y'</when><otherwise>can_breakfast_menu='N'</otherwise></choose>,
		<choose><when test="can_space_rental != null">can_space_rental='Y'</when><otherwise>can_space_rental='N'</otherwise></choose>
		WHERE store_no=store_no
	</update>
	
	
	<!-- 매장 이미지 업로드 -->
	<insert id="uploadStoreImg">
		INSERT INTO STORE_IMG(STORE_NO, IMAGE_PATH)
		VALUES({store_no}, {file})
	</insert>
	
	<!-- 매장리스트 검색용 -->
	<select id="storeList" resultType="com.todaysTable.vo.StoreVO">
		SELECT * FROM STORE
	</select>
	
	<!-- 매장리스트 랜덤출력용 -->
	<select id="storeRandomList" resultType="com.todaysTable.vo.StoreVO">
		<![CDATA[
		select * from  (select * from store order by dbms_random.value) where rownum = 1
		]]>
	</select>
	
</mapper>